/*Variables*/
@import './variables.scss';

* {
    box-sizing: border-box;
}

/*Mixins*/
@mixin linear-gradient-text($direction, $from, $to) {
    background: linear-gradient($direction, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin bordure($url, $side: 'left', $margin: 5px) {
    content: '';
    background-image: url($url);
    background-size: 100% 100%;
    display: inline-block;
    height: 10px;
    width: 170px;
    @if $side == 'left' {
        margin-right: $margin;
    } @else if $side == 'right' {
        margin-left: $margin
    }
}
@mixin underline ($color: #000) {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color;
        visibility: hidden;
        transition: width 0.8s ease-in-out;
    }
    &:hover:before {
        width: 100%;
        visibility: visible;
    }
}
/*Keyframes*/
@keyframes wiggle {
    20% {
        transform: translate(1px, 1px);
    }
    40% {
        transform: translate(-1px, -1px);
    }
    60% {
        transform: translate(-1px, 1px);
    }
    80% {
        transform: translate(1px, -1px);
    }
}
@keyframes jumpingdots {
    25% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
}
@keyframes bigger {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.7;
    }
}
/*Polices*/
@font-face {
    font-family: "Typo_Comics";
    src: url("./css/police/Typo_Comics.otf");
}
@font-face { 
    font-family: "Zack";
    src: url("./css/police/Zack.ttf");
}
@font-face {
    font-family: "Devonshire";
    src: url("./css/police/Devonshire-Regular.ttf");
}
@font-face {
    font-family: "Croissant";
    src: url("./css/police/croissantone-regular.ttf");
}
@font-face {
    font-family: "Dancing";
    src: url("./css/police/dancing\ script.ttf");
}
@font-face {
    font-family: "KaushanRegular";
    src: url("./css/police/kaushanscript-regular.ttf");
}
@font-face {
    font-family: "BikoBold";
    src: url("./css/police/BikoBold.otf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("./css/police/MontserratRegular.otf");
}

@font-face {
    font-family: "MontserratMedium";
    src: url("./css/police/MontserratMedium.otf");
}
/*Body*/
body {
    margin: 0 ;
    padding: 0 ;
    position: relative;
    min-height: 100vh;
}
/*Les Liens*/
a {
    text-decoration: none;
    &:link {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
}
.inline-block{
    display: inline-block;
}
/*Main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.2rem;
    background-color: $bgc-header-footer-button;
    border: none;
    border-radius: 7px;
    padding: 15px 40px;
    margin: 30px 0px 0px;
    color: $color-header-footer-button;
    span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-header-footer-button;
        display: inline-block;
        animation: jumpingdots 1.2s linear infinite;
        &:nth-of-type(1) {
        margin-left: 3px;
        }
        &:nth-of-type(2) {
        animation-delay: 0.4s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.8s;
        }
    }
}

/*Header*/
header {
    background-color: $bgc-header-footer-button;
    text-align: center;
    width: 100%;
    h1 {
        margin: 0;
        padding: 10px 0;
        font-family: "BikoBold", Arial, Helvetica, sans-serif;
        color: $color-header-footer-button;
    }
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: $bgc-header-footer-button;
    padding: 10px 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    p {
        font-family: "MontserratRegular", 'Times New Roman', Times, serif;
        color: $color-header-footer-button;
        font-size: 14px;
    }
    a {
        &:hover {
        animation: wiggle 0.5s infinite;
        transform: translate(0,0);
        }
    }
}
/*Les Titres*/
h1 {
    text-align: center;
}
/*Card*/
%abstract-card {
    max-width: 700px;
    width: 90%;
    margin-top: 20px;
    background-color: $bgc-note;
    text-align: center;
    color: $color-note;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 30px;
    a {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        display: inline-block;
        &:hover {
            animation: bigger 0.3s linear forwards
        }
        img {
            margin: auto;
            display: block;
            height: 80px;
            width: 80px;
            &[src="#"] {
                opacity: 0;
            }
        }
        h2 {
            font-family: "Devonshire", Arial, Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 1.3rem;
        }
        p {
            color: $color-note;
            font-size: 1rem;
        }
    }
}
.card {
    @extend %abstract-card;
    &:nth-child(2) {
        background-color: $bgc-chic;
        color: $color-chic;
        h2 {
            @include linear-gradient-text(to right, #CF7D4C 40%, #915DFE 80%);
            font-family: "Croissant", Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
        }
        p {
            color: $color-chic;
            font-size: 1rem;
        }
    }
    &:nth-child(3) {
        background-color: $bgc-delice;
        h2 {
            @include linear-gradient-text(to right, #0228DD 20%, #90C6F5 70%);
            font-family: "Dancing", Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
        }
        p {
            color: $color-delice;
            font-size: 1rem;
        }
    }
    &:nth-child(4) {
        background-color: $bgc-palette;
        h2 {
            @include linear-gradient-text(to right, #43973D 20%, #BEFF7F 70%);
            font-family: "KaushanRegular", Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
        }
        p {
            color: $color-palette;
            font-size: 1rem;
        }
    }
}

/*Menu*/
.menu-note {
    @extend %abstract-card;
    color: $color-note;
    font-family: "Typo_Comics", Arial, Helvetica, sans-serif;
    h1 {
        font-family: "Devonshire",Arial, Helvetica, sans-serif;
        font-weight: lighter;
        letter-spacing: 0.8px;
        margin-top: 0;
        color: $color-note;
        font-size: 25px;
    }
    img {
        margin-top: 20px;
        height: 40px;
        width: 40px;
    }
    h2 {
        color: $color-note;
        font-size: 17px;
        &:nth-of-type(1) {
            span {
                @include underline($color-note);
            }
        }
        &:nth-of-type(2) {
            span {
                @include underline($color-note);
            }
        }
        &:nth-of-type(3) {
            span {
                @include underline($color-note);
            }
        }
        
            & ~ p {
                color: $color-note;
            }
            &:nth-of-type(4) {
                span { 
                    font-family: "Devonshire",Arial, Helvetica, sans-serif;
                    letter-spacing: 0.8px;
                    font-weight: lighter;
                    margin-top: 25px;
                    font-size: 1.3rem;
                    &::before {
                        @include bordure('../styles/css/images/note-test.png', 'left', 10px);
                        height: 25px;
                        width: 25px;
                            }
                    }
            }
    }
}
.menu-chic {
    @extend %abstract-card;
    background-color: $bgc-chic;
    h1 {
        @include linear-gradient-text(to right, #CF7D4C 40%, #915DFE 80%);
        font-size: 25px;
        font-family: "Croissant", Arial, Helvetica, sans-serif;
    }
    h2 {
        font-size: 17px;
        &:nth-of-type(1) {
            color: #c47414;
            span  {
                @include underline(#c47414);
            }
            & ~ p {
                color: #c47414;
            }
        }
        &:nth-of-type(2) {
            color: #a87dca;
            span {
                @include underline(#a87dca);
            }
            & ~ p {
                color: #a87dca;
            }
        }
        &:nth-of-type(3) {
            color: #6e4ecc;
            span {
                @include underline(#6e4ecc);
            }
            & ~ p {
                color: #6e4ecc;
            }
        }
    }
    .choices {
        &:nth-of-type(1) {
            color: #c47414 ;
        }
        &:nth-of-type(2) {
            color: #c47414 ;
        }
        &:nth-of-type(3) {
            color: #c47414 ;
        }
        &:nth-of-type(4) {
            color: #a87dca ;
        }
        &:nth-of-type(5) {
            color: #a87dca ;
        }
        &:nth-of-type(6) {
            color: #a87dca ;
        }
        &:nth-of-type(7) {
            color: #6e4ecc ;
        }
        &:nth-of-type(8) {
            color: #6e4ecc ;
        }
        &:nth-of-type(9) {
            color: #6e4ecc ;
        }
    }
}

.menu-delice {
    @extend %abstract-card;
    background-color: $bgc-delice;
    font-family: "Typo_Comics","Dancing", Arial, Helvetica, sans-serif;
    h1 {
        @include linear-gradient-text(to right, #0228DD 20%, #90C6F5 70%);
        font-size: 25px;
        font-family: "Dancing", Arial, Helvetica, sans-serif;
    }
    h2 {
        color: black;
        font-size: 17px;
        span {
            @include underline(#042cdc)
        }
        
        &:nth-of-type(2) {
            span {
                @include underline(#0474f4)
            }
        }
        &:nth-of-type(3) {
            span {
                @include underline(#249cfc)
            }
        }
        & ~ p {
            color: black;
        }
        
    }
}

.menu-palette {
    @extend %abstract-card;
    background-color: $bgc-palette;
    font-family: "Zack", Arial, Helvetica, sans-serif;
    h1 {
        @include linear-gradient-text(to right, #43973D 20%, #BEFF7F 70%);
        font-size: 25px;
        font-family: "KaushanRegular", Arial, Helvetica, sans-serif;
    }
    h2 {
        color: black;
        font-size: 17px;
        span {
            @include underline()
        }
            & ~ p {
                color: black;
            }
        }
    }

.choices {
    min-width: 600px;
    display: flex;
    justify-content: space-between;
}

/*Responsive*/
@media screen and (max-width:767px) {
    footer {
        margin-bottom: -100px;
    }
    .choices {
        min-width: 0;
        display: block;
    }
}
@media screen and (min-width:768px) {
    main {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .card { 
            margin: 20px 10px 0px 10px;
            width: 40%;
        }
    }
    .menu-note {
        margin-bottom: 100px;
        h2 {
        &:nth-of-type(1) {
                &::before {
                    @include bordure('../styles/css/images/bordure/note-bordure-gauche.png')
                }
                &::after {
                    @include bordure('../styles/css/images/bordure/note-bordure-droite.png', 'right')
                }
        }
        &:nth-of-type(2) {
                &::before {
                    @include bordure('../styles/css/images/bordure/note-bordure-gauche.png')
                }
                &::after {
                    @include bordure('../styles/css/images/bordure/note-bordure-droite.png', 'right')
                }
        }
        &:nth-of-type(3) {
                &::before {
                    @include bordure('../styles/css/images/bordure/note-bordure-gauche.png')
                    }
                &::after {
                    @include bordure('../styles/css/images/bordure/note-bordure-droite.png', 'right')
                    }
            }
    }
}

    .menu-chic {
        h2 {
        &:nth-of-type(1) {
            &::before {
                @include bordure('../styles/css/images/bordure/chic-entree-gauche.png')
            }
            &::after {
                @include bordure('../styles/css/images/bordure/chic-entree-droite.png', 'right')
            }
            color: #c47414;
            & ~ p {
                color: #c47414;
            }
        }
        &:nth-of-type(2) {
            color: #a87dca;
                &::before {
                    @include bordure('../styles/css/images/bordure/chic-plat-gauche.png')
                }
                &::after {
                    @include bordure('../styles/css/images/bordure/chic-plat-droite.png', 'right')
                }
            & ~ p {
                color: #a87dca;
            }
        }
        &:nth-of-type(3) {
            color: #6e4ecc;
                &::before {
                    @include bordure('../styles/css/images/bordure/chic-dessert-gauche.png')
                }
                &::after {
                    @include bordure('../styles/css/images/bordure/chic-dessert-droite.png', 'right')
                }
            & ~ p {
                color: #6e4ecc;
            }
        }
    }
}
    .menu-delice {
        h2 {
            &:nth-of-type(1) {
                &::before {
                    @include bordure('../styles/css/images/bordure/delice-entree-gauche.png')
                }
                &::after {
                    @include bordure('../styles/css/images/bordure/delice-entree-droite.png', 'right')
                }
    }
    &:nth-of-type(2) {
            &::before {
                @include bordure('../styles/css/images/bordure/delice-plat-gauche.png')
            }
            &::after {
                @include bordure('../styles/css/images/bordure/delice-plat-droite.png', 'right')
            }
    }
    &:nth-of-type(3) {
            &::before {
                @include bordure('../styles/css/images/bordure/delice-dessert-gauche.png')
            }
            &::after {
                @include bordure('../styles/css/images/bordure/delice-dessert-droite.png', 'right')
            }
        }
    }
}
    .menu-palette {
        h2 {
            &:nth-of-type(1) {
                    &::before {
                        @include bordure('../styles/css/images/bordure/palette-bordure-gauche.png')
                        }
                    &::after {
                        @include bordure('../styles/css/images/bordure/palette-bordure-droite.png', 'right')
                    }
                }
        &:nth-of-type(2) {
                &::before {
                    @include bordure('../styles/css/images/bordure/palette-bordure-gauche.png')
                }
                &::after {
                    @include bordure('../styles/css/images/bordure/palette-bordure-droite.png', 'right')
                }
        }
            &:nth-of-type(3) {
                    &::before {
                        @include bordure('../styles/css/images/bordure/palette-bordure-gauche.png')
                    }
                    &::after {
                        @include bordure('../styles/css/images/bordure/palette-bordure-droite.png', 'right')
                    }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    main {
        width: 900px;
        margin: 0 auto;
    }
}