/* Couleurs de fonds */
$bgc-note: #f8dedd;
$bgc-chic: #fbf3fb;
$bgc-delice: #fbfbfb;
$bgc-palette: #fff;
$bgc-header-footer-button: #579c87;

/*Couleurs de polices*/
$color-header-footer-button: #f2c84aed;
$color-chic: #c97d25;
$color-note: #3C1218;
$color-delice: #9dc4f7;
$color-palette: #499C40;
